h2{ color:
  blue;font-size: large;margin:auto;
}
img{
  width: 300px;
  text-align: center;
 justify-content: end;
}
h3{
  color: blue;
  margin: auto;
  font-size: large;
}
.address{color: black;
font-size: 20px;}